
.container table{
    border: 1px solid;
    width: 90%;
}
.container table tr th{
    border: 1px solid;
    padding: 20px;
    width: 20%;
}
td{
    border: 1px solid;
    width: 20%;
}
.container table tr{
    width: 20%;
}
ul {
    display: flex;
    justify-content: space-between;
}
ul li{
    list-style-type: none;
    padding-right: 20px;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
form{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    margin-bottom: 30px;
}
.form2{
    
    text-align: center;
}
.form3{
    
    margin-bottom: 20px;
}
.acceuil{
    background-color: rgb(81, 106, 81);
    padding: 100px;
    text-align: center;
    width: 500px;
    margin-left: 300px;
    margin-top: 100px;
    border-radius: 30px;
}
.text{
    background-color: rgb(81, 106, 81);
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}
h4{
    padding-right: 130px;
    margin-top: 35px;
}
h1{
    padding-left: 8px;
}
.menu{
    background-color: rgb(81, 106, 81);
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
}
.menu_princ{
    height: 580px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 300px;
    background-color: rgb(81, 106, 81);
    border-radius: 5px;
}
.cnt,.cntt{
    border: none;
}
.cnt{
    padding-left: 20px;
}
.cntt{
   text-align: center; 
   
}
.c{
    background-color: white;
}
